/* Additional Styles -- Timo B.
====================================*/
/* Table Schedule */
#users-contain {
  
}
table#users {
  margin: 0 auto;
  margin-bottom: 3em;
}
table#users th, table#users td {
  padding: 10px 22px;
}
table#users th {
  font-family: "Merriweather Sans";
  color: #fff;
}
table#users td {
  background-color: #fff;
  border-bottom: 1px solid #f4623a;
}
table#users .link-delete {
  font-family: "Merriweather Sans";
  text-transform: uppercase;
  font-size: 80%;
}
i.fa-trash {
  padding-right: 5px;
}
/* Modal */
.modal-header {
  background-color: #f5f5f5;
}
.modal-footer {
  border-top: none;
}
#date {
  width: 10em;
  background-image: url(../img/ico-calendar.png);
  background-repeat: no-repeat;
  background-position: 90% 50%;
}
/* Calendar */
#ui-datepicker-div {
  background-color: #fff;
  border: 1px solid #333;
  font-family: "Merriweather Sans";
  width: 300px;
}
.ui-datepicker-header {
  position: relative;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}
a.ui-datepicker-prev, a.ui-datepicker-next {
  cursor: pointer;
  color: #ccc !important;
  font-size: 80%;
  text-transform: uppercase;
}
a.ui-datepicker-prev:hover, a.ui-datepicker-next:hover {
  color: #fff !important;
}  
.ui-datepicker-prev {
  position: absolute;
  left: 20px;
}
.ui-datepicker-prev::before {
  content: "< ";
}
.ui-datepicker-next {
  position: absolute;
  right: 20px;
}
.ui-datepicker-next::after {
  content: " >";
}
.ui-datepicker-title {
  font-size: 120%;
  padding: 25px 0 5px;
}
.ui-datepicker-calendar {
  width: 88%;
  margin: 10px 20px 20px;
}
.ui-datepicker-calendar td a, .ui-datepicker-calendar th {
  padding: 6px 6px;
}
.ui-datepicker-calendar td a {
  display: inline-block;
}
.ui-datepicker-calendar td a:hover {
  background-color: #e5e5e5;
  text-decoration: none;
}
.ui-datepicker-calendar th {
  font-size: 70%;
  color: #777;
  text-transform: uppercase;
  padding-top: 2px;
}

